@charset "utf-8";
.upload_pic #uploaderImg{
    width: 130px;
    height: 130px;
    background: url(/images/bg.png) no-repeat;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}

.upload_pic #uploaderImg .file-panel{
    position: absolute;
    height: 30px;
    background: rgba( 0, 0, 0, 0.4 );
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}
.upload_pic #uploaderImg .file-panel a{
    width: 26px;
    height: 26px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icons.png) no-repeat -48px -20px;
    margin: 5px 1px 1px;
    cursor: pointer;
}
.upload_pic td{
    border: none;
}